---
layout: layout_bare
---
#top-bg
#main
  = partial :header_nav, :locals => {:inverted => true}
  #body
    #prod-slider
      #macbook.off{:style => "opacity: 1; display: block; top: -168px;"}
        #macbook-glow-on.macbook-glow{:style => "opacity: 0.5; display: block;"}
        #mb
          #ps-wrap
            .item.act{:rel => "Attention Saver"}
              %img.off{:alt => "Attention Saver: off", :src => "/images/fake/s_img1.jpg"}/
              %img.on{:alt => "Attention Saver: on", :src => "/images/fake/s_img2.jpg", :style => "display: none;"}/
            .item{:rel => "Talk to you later"}
              %img.off{:alt => "Talk to you later: off", :src => "/images/fake/s_img3.jpg"}/
              %img.on{:alt => "Talk to you later: on", :src => "/images/fake/s_img4.jpg", :style => "display: none;"}/
            .item{:rel => "Be single minded"}
              %img.off{:alt => "Be single minded: off", :src => "/images/fake/s_img5.jpg"}/
              %img.on{:alt => "Be single minded: on", :src => "/images/fake/s_img6.jpg", :style => "display: none;"}/
        #macbook-shadow{:style => "top: 427px; opacity: 1;"}
      %strong#ps-right
        Want to see
        = succeed "?" do
          %span how it works
      #ps-left{:style => "opacity: 1; display: block; top: 78px;"}
        %h1 Quiet
        %a.button.btn-v2{:href => "http://itunes.apple.com/us/app/quiet/id421759530?mt=12#"}
          %span Buy now
      #ps-selector.on
        %div{:style => "left: 0px;"}
        %a.off OFF
        %a.on ON
      %p#pss-lbl
        Just toggle it
        = succeed "!" do
          %span on
      #slogans
        %p.ps-right-text.prt-cur{:rel => "Attention Saver", :style => "visibility: visible; opacity: 1; top: 139px;"} Attention saver.
        %p.ps-right-text{:rel => "Talk to you later"} Focus.
        %p.ps-right-text{:rel => "Be single minded"} Be single minded.
      %ul#ps-controls
        %li.act
        %li
        %li
  %h2#prod-name
    %img{:alt => "Quiet", :src => "/images/quiet_ico.png"}/
    %b Peace.
    %span
      And
      %b Quiet.
  #txt
    .t-wrap
      .t-wrap
        .text
          %p Push distractions aside, silence disruptions and enter a zen like state of focus with Quiet for Mac OS X. With the push of a button, silence noisy applications and fade out all unwanted windows. It gives you that moment of peace you need to get on with work.
          %p Quiet will ask programs which normally vie for your attention to hold their peace. Chat clients such as Adium or iChat by will be set as 'away' or 'busy'. Ringing in Skype will be turned off using the 'Do Not Disturb' mode.
          %p At the same time Quiet will hide unrelated windows, including the Finder itself, making the window or windows you wish to focus on the only thing on your screen.
          %h5
            %img.i-right{:alt => "How it works", :src => "/images/fake/img1.jpg"}>/
            Preserve your train of thought and
            be effective with Quiet.
          %ul
            %li Focus on a single window of any application, or on a whole space.
            %li Fade out other windows, or bring them out of focus with the beautiful 'Focus Out' effect.†
            %li Optionally use your desktop wallpaper as your focus backdrop.
            %li Hide the menu bar until you mouse over it.
          %h5
            %img.i-left{:alt => "Quiet silence messengers", :src => "/images/fake/img2.jpg"}>/
            While in 'focused mode', Quiet will silence applications as follows:
          %ul
            %li Change your status in Adium and iChat to 'busy'.
            %li Silence Skype through the 'Do Not Disturb' mode.
            %li Disable the 'new mail' sound in Apple Mail.
            %li Control all of the above behaviors with individual settings.
          %p
            %small † The 'Focus Out' effect requires a fast Mac with at least 512 MB of Video RAM. Intel integrated video chipsets do not support this effect.
  #info
    .inf-wrap
      .inf-wrap
        %ul
          %li
            %img{:alt => "Attention Saver", :src => "/images/i_ico1.png"}/
            %big Attention Saver
            %small
              Mute iChat notifications,
              %br/
              and Skype.
          %li
            %img{:alt => "Talk to you later (TTYL)", :src => "/images/i_ico2.png"}/
            %big Talk to you later (TTYL)
            %small
              Automatically go 'away' in chat apps
              %br>/
              to show others you're 'in the zone'.
          %li
            %img{:alt => "Be single minded", :src => "/images/i_ico3.png"}/
            %big Be single minded
            %small
              Bring a single window or space
              %br>/
              into focus at a time.
  %a.app-store-button{:href => "http://itunes.apple.com/us/app/quiet/id421759530?mt=12#"}
    %img{:alt => "AppStore", :src => "/images/app_store.png"}/
  %ul#right-links
    %li
      %a{:href => "http://support.wireload.net"}
        %img{:alt => "Support", :src => "/images/ico_supp.png"}>/
        Support
    %li
      %a{:href => "http://support.wireload.net/forums/356141-frequently-asked-questions"}
        %img{:alt => "FAQ", :src => "/images/ico_faq.png", :style => "margin-left: -76px;"}>/
        FAQ
    %li
      %a{:href => "https://twitter.com/QuietApp"}
        %img{:alt => "Twitter", :src => "/images/twitter_quiet_icon.png", :style => "top: 2px;"}>/
        Twitter
    %li
      %a{:href => "https://www.facebook.com/pages/Quiet/200263450010941"}
        %img{:alt => "Facebook", :src => "/images/fb_quiet_icon.png", :style => "margin-left: -63px;"}>/
        Facebook
  %div{:style => "clear: both"}
