---
title: Contacts and calendar migration in YippieMove?
authors: Viktor Petersson
wordpress_id: 435
wordpress_url: http://wireload.net/2010/02/contacts-and-calendar-migration-in-yippiemove/
date: 2010-02-11 19:32:40
tags: calendar, contacts, news
---
<p>For a long time we've been planning to add support for calendar and contacts migration. We are now finally making progress in this area, but we'd love to hear what your thoughts are on this.</p><br/><p>We've put together a very brief survey (just four questions). It will take you less than two minutes to complete. You can find the survey <a title="PollDaddy Survey" href="http://surveys.polldaddy.com/s/5B18033CABAC43D4/">here</a>.</p>