---
title: Introducing a more convenient and beneficial payment method
authors: Viktor Petersson
wordpress_id: 20
wordpress_url: http://wireload.net/2010/03/introducing-a-more-convenient-and-beneficial-payment-method/
date: 2010-03-30 19:40:17
tags: news, tokens
---
<p>Today we rolled out a new update to YippieMove. A small update it might seem, but it's actually quite significant. This update enables you to use tokens with YippieMove. Here are a few reasons why you would want to purchase YippieMove tokens:</p><br/><p><br /><strong>More convenient</strong><br />Instead of having to take out your credit card every time you use YippieMove all you need to do is to enter your token, and the entire payment-process is bypassed. For instance, if you work in a team, the entire team could share one multi-use token.<br /><br /><strong>Faster</strong><br />Since there is no credit card validation process involved, the transfer will start instantly, which will save you valuable time.<br /><br /><strong>Cheaper</strong><br />Even if you only use YippieMove once in a while and normally wouldn't qualify for our <a href="http://www.yippiemove.com/help/faq_generic.html#volume">volume discount</a>, with YippieMove tokens you could!<br /><br /><strong>More flexible</strong><br />YippieMove tokens can be mixed and matched any way you want. Perhaps you'd like one token valid for 100 transfers to use in-house or perhaps you'd like 100 tokens valid for one transfers each to pass along to clients. Regardless of how you slice and dice the tokens, YippieMove tokens can save you money and time.<br /><br />If you'd like to learn more about YippieMove tokens, please contact our <a href="mailto:salesteam@yippiemove.com">sales team</a>.</p>