---
title: Screencast for YippieMove Batch Email Migration
authors: Viktor Petersson
wordpress_id: 441
wordpress_url: http://wireload.net/2010/05/screencast-for-yippiemove-batch-email-migration/
date: 2010-05-26 13:44:41
tags: batch-migration, news, screencast
---
<p>Yesterday we uploaded a new screencast that walks you trough the process of performing a batch email migration. While the steps are really simple, we know that many of you out there prefer to watch a quick screencast before diving into a new product. Hope you like it.</p><br/><object width="480" height="385"><param name="movie" value="http://www.youtube.com/v/XbVgWordgdk&hl=en_US&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/XbVgWordgdk&hl=en_US&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="385"></embed></object><br /><br/><p>For additional screencasts, please visit our <a href="http://www.yippiemove.com/video/">screencast gallery</a>. If you rather watch them on YouTube, feel free to tune into our <a href="http://www.youtube.com/yippiemove">YouTube Channel</a>.</p><br/><p>For more information about Batch Email Migration, please visit <a href="http://www.yippiemove.com/help/batch_migration.html">this page</a>.</p>