---
title: Back-end issues
authors: Viktor Petersson
wordpress_id: 436
wordpress_url: http://wireload.net/2010/02/back-end-issues/
date: 2010-02-28 19:34:01
tags: news
---
<p>I just wanted to post a brief note about a back-end issues we've been having this past weekend. It appears as the problems originated from an updated we rolled out on Friday night (PST) and have been going on until about 30 minutes ago when we discovered it.</p><br/><p>This problem affected 'Step 1' and 'Step 2' and resulted in that some users were unable to initiate transfers.</p><br/><p>We sincerely apologize for this and we will be looking over our deployment routines to prevent this from happening again.</p>