---
title: How to enable IMAP in Gmail
authors: admin
wordpress_id: 484
wordpress_url: http://wireload.net/2010/08/how-to-enable-imap-in-gmail/
date: 2010-08-24 15:53:36
tags: education, gmail, imap, video
---
If you want to user your Gmail or Google Apps account in a desktop client, such as Apple Mail or Thunderbird, you may need to enable something called IMAP. This is also a requirement if you want to move emails to or from your Gmail/Google Apps account with <a href="http://www.yippiemove.com">YippieMove</a>.<br/><object width="480" height="385"><param name="movie" value="http://www.youtube.com/v/Or343gLDIDQ&amp;hl=en_US&amp;fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/Or343gLDIDQ&amp;hl=en_US&amp;fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="385"></embed></object><br/><a href="http://www.youtube.com/watch?v=Or343gLDIDQ">Watch the video directly on YouTube for better quality</a>.<br/>