---
title: Blotter 2.0.1 is out
authors: Viktor Petersson
wordpress_id: 1083
wordpress_url: http://wireload.net/2011/12/blotter-2-0-1-is-out/
date: 2011-12-15 01:31:45
tags: blotter, release-notes
---
On December 5th we launched a huge update, namely <a href="http://wireload.net/2011/12/blotter-2-0-is-finally-here/">Blotter 2.0</a>. Unfortunately, a critical bug sneaked in that affected Snow Leopard users. We submitted an update to Apple the very next day. Unfortunately it took this long for Apple to approve the update, but the update is now available in the Mac App Store as a free update. <br/>Now with 2.0.1 released, we've submitted an update that resolves the issue with subscription calendars. <br/>We sincerely apologize for the inconvenience that these bugs may have caused. 