---
title: Longer folder names in Gmail/Google Apps
authors: Viktor Petersson
wordpress_id: 431
wordpress_url: http://wireload.net/2011/06/longer-folder-names-in-gmailgoogle-apps/
date: 2011-06-19 01:51:17
tags: gmail, google-apps, news, yippiemove
---
In our opinion, one of the biggest limitations for Gmail/Google Apps was the fact that folders were limited to 40 characters. This meant that for many users moving from other providers and had longer folders, we had to truncate the folder names after 40 characters. For example, a folder named 'a/very/long/folder/that/exceeds/40/characters' would have been renamed to 'a/very/long/folder/that/exceeds/40/char.' <br/>This was troublesome for many users who had deep folder structure and wanted to move to Gmail or Google Apps. <br/>Luckily, this is a thing of the past. Google recently <a href="http://gmailblog.blogspot.com/2011/04/long-label-names-in-gmail.html">announced</a> that you now can use folders up to 225 characters and we have updated <a href="http://www.yippiemove.com">YippieMove</a> to reflect this change. 