---
title: Now available- Preview Pane in Gmail
authors: Viktor Petersson
wordpress_id: 865
wordpress_url: http://wireload.net/2011/08/now-available-preview-pane-in-gmail/
date: 2011-08-05 01:19:52
tags: gmail, google-apps, news, yippiemove
---
This is pretty nice. Google just <a href="http://gmailblog.blogspot.com/2011/08/new-in-labs-preview-pane.html">announced</a> a new feature called 'Preview Pane' in Gmail (including <a href="http://googleenterprise.blogspot.com/2011/08/new-in-gmail-labs-preview-pane.html">Google Apps</a> users).<br/>The feature does just like it sounds. It allows you to preview your mail in a horizontal fashion. This is a really smart move, as it enables you to use a wide-screen monitor more effectively. <br/><img src="/uploads/2011/08/Preview-Pane-Original-580x379.png" alt="" title="Preview Pane Original" width="580" height="379" class="aligncenter size-large wp-image-866" /><br/>As a side-note, this is somewhat similar to what Mail.App in OS X Lion. <br/>What do you think? Do you prefer the old style, or this new view?