---
title: Quiet 1.5 is here
authors: Viktor Petersson
wordpress_id: 1100
wordpress_url: http://wireload.net/2011/12/quiet-1-5-is-here/
date: 2011-12-20 11:10:50
tags: quiet, release-notes
---
Today we've launched both an update to <a href="http://wireload.net/2011/12/blotter-2-0-2-is-out-subscription-calendars-restored/">Blotter</a> and an update to Quiet. <br/>The 1.5 update of Quiet is primarily about improving performance and adding more compliance with Apple's Mac App Store regulations (as a result the 'Hide Dock' feature had to be removed). We apologize about having to remove this feature, but we don't make the rules. <br/><ul><br/>	<li>The 'Hide Dock' option has been removed. </li><br/>	<li>Focus out is now more battery efficient and CPU friendly. </li><br/>	<li>Fade To Black and Wallpaper options fade in more smoothly. </li><br/>	<li>Resolved a graphical corruption issue with Focus Out.</li><br/>	<li>Restores Snow Leopard support</li><br/></ul>