---
title: We're giving away Spotify invites
authors: Viktor Petersson
wordpress_id: 765
wordpress_url: http://wireload.net/2011/07/were-giving-away-spotify-invites/
date: 2011-07-14 08:30:48
tags: giveaway, news, spotify
---
<img src="/uploads/2011/07/spotify_in_action-580x407.png" alt="Spotify in action" title="Spotify in action" width="580" height="407" class="aligncenter size-large wp-image-769" /><br/>I don't think anyone could possibly have missed that <a href="https://www.spotify.com/">Spotify</a> today launched in the United States. It is a much anticipated launch, and a lot of people are really excited about it. <br/><!--more--><br/>Since both of the founders of WireLoad (<a href="http://twitter.com/#!/slevenbits">Alexander</a> and <a href="http://twitter.com/#!/vpetersson">myself</a>) have our roots in Sweden, the home land of Spotify, we've been using Spotify for some time now, and honestly cannot live without it. iTunes (even with iCloud), and Google Music feel ancient when you're used to Spotify.  <br/>As long-time premium users, our invites have piled up, and we wanted to share them with all our friends in the U.S.. <br/>So without further ado, here are 20 invite-codes. Grab them while they're hot.  <br/><pre><br/>bRFFWsBgwqX4pUYa<br/>aWGR9w3YdSpEcMqW<br/>aze8fGEM2btFCZ7A<br/>fp5GMcffHpq5pGZm<br/>aAPMUNDpSBrfmYFE<br/>b4sHp6uA2EpppC8D<br/>bbzWbTFXAG25MbFL<br/>eGzM2Hs7GLhCXUDC<br/>fagNaWMLVHA2L98u<br/>fd2LACJHsxudy2VW<br/>aBhF7FyKDkJe3PfF<br/>fkkGHNB2Kt8Yr7Vh<br/>d4aAS2bwB2kFEs3G<br/>eNghRYNG38ttgtZ5<br/>d7B2RYq7YCyByApD<br/>enADYYNfaVfntnst<br/>faFseKFRMcHkpCS3<br/>bxnxNx4uXUrWw4pX<br/>dLYCeYNwzgFRVRqC<br/>a4TGHB4mDu79N4xG<br/></pre>