---
title: New video-review of Blotter by David Loeser
authors: Viktor Petersson
wordpress_id: 1210
wordpress_url: http://wireload.net/2012/02/new-video-review-of-blotter-by-david-loeser/
date: 2012-02-28 02:08:26
tags: blotter, news
---
<iframe width="560" height="315" src="http://www.youtube.com/embed/mYjJvRqOw2I?rel=0" frameborder="0" allowfullscreen></iframe><br/>Corrections/clarifications to the video:<br/><ul><br/>	<li>The topmost bar is for all-day events.</li><br/>	<li>All syncing happens via iCal. Hence you may need iCal running for Blotter to fully sync.</li><br/></ul>