---
title: Presentation deck from gSocial 2012
authors: Viktor Petersson
wordpress_id: 1511
wordpress_url: http://wireload.net/2012/11/presentation-deck-from-gsocial-2012/
date: 2012-11-13 21:35:15
tags: conference, events, gsocial, yippiemove
---
As promised, here's the presentation deck from the speech at <a href="http://gsocialconference.com/">gSocial</a> this year. The title and topic for the speech was "Email migration best practices" where we share our experience of doing email migrations since 2008.<br/><script async class="speakerdeck-embed" data-id="e003f6501017013006fa12313d189db6" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>