---
title: You can now migrate email to and from Comcast with YippieMove
authors: Viktor Petersson
wordpress_id: 1587
wordpress_url: http://wireload.net/2013/07/you-can-now-migrate-email-to-and-from-comcast-with-yippiemove/
date: 2013-07-07 04:56:12
tags: comcast, news, yippiemove
---
We're happy to introduce experimental support for Comcast Xfinity in YippieMove. This means that you can transfer emails both to and from Comcast. <br/>Unfortunately, this process requires a bit of work before you can get started. Here are the steps you need to take:<br/><ul><br/><li>Visit <a href="https://xcbetasignup.comcast.net/imap_trial/web/">this</a> page and sign up for the IMAP Trial. This process will take up to 72 hours to complete and you cannot start your email migration prior to the completion of this.</li><br/><li>With the completion of the above step, you can now visit <a href="http://www.yippiemove.com">YippieMove</a> and select "Comcast Xfinity" in Step 1 (if you're moving from Comcast) or Step 2 (if you're moving to Comcast).</li><br/></ul><br/>It should however be stressed that the Comcast support is experimental. This means that there may be hiccups along the way. For instance, if you have used POP3 before and downloaded all your emails onto your local computer, it's likely that we won't be able to retrieve those messages.<br/><strong>The best way determine what we will be able to transfer is to login to your Comcast webmail and look what messages you can find there. Those are the messages we will be able to transfer.</strong>