---
title: Introducing support for Outlook.com in YippieMove
authors: Viktor Petersson
wordpress_id: 1626
wordpress_url: http://wireload.net/2013/09/introducing-support-for-oulook-com-in-yippiemove/
date: 2013-09-12 16:15:41
tags: hotmail, live, news, yippiemove
---
<span class="shadowed"><img src="/uploads/2013/09/Outlook.com_inbox_and_message_view.png" alt="Outlook.com" /><span class="sh tl"></span><span class="sh tr"></span><span class="sh bl"></span><span class="sh br"></span></span><br/><br/>Today Microsoft announced that they are rolling out <a href="http://blogs.office.com/b/microsoft-outlook/archive/2013/09/12/outlook-com-now-with-imap.aspx">IMAP-support</a> in Outlook.com (formerly known as Hotmail, MSN or Live.com). This is huge news for their users, as it enables you to more easily access your email using standardized email clients.<br/>This is also huge news for us here at WireLoad, since this means that we can finally add support for Outlook.com in <a href="http://www.yippiemove.com">YippieMove</a>. Ever since we launched YippieMove, one of the most popular feature requests have been the ability to copy emails from Hotmail/Live.com/Outlook.com. Until now, we have not been able to add this support. Today all of that changed. <br/>What this means is that you can now use YippieMove to move email data to and from Outlook.com using YippieMove. Since the support is brand new, we're marking the support as 'experimental' for the time being. We have done a few tests at this point, and so far, everything looks fine.<br/>To get started, simply head over to <a href="http://www.yippiemove.com">YippieMove.com</a>.