---
title: How to migrate to or from Outlook.com with YippieMove
authors: Viktor Petersson
wordpress_id: 1578
wordpress_url: http://wireload.net/2013/04/how-to-migrate-to-or-from-outlook-com-with-yippiemove/
date: 2013-04-19 03:42:51
tags: education, microsoft, outlook, video, yippiemove
---
One of Microsoft's more popular email offerings today is Outlook.com. We frequently receive questions about how to use Outlook.com with YippieMove. The reason why we cannot simply add Outlook.com to the drop-down list is because each account uses different settings.<br/>Fortunately, Microsoft have provided this video on how to find your IMAP settings. Once you have received these settings, all you need to do is to select "Other" in YippieMove and enter the settings.<br/>Please note that this can be used both to migrate email data to and from Outlook.com.<br/><iframe width="480" height="360" frameborder="0" marginwidth="0" marginheight='0' scrolling="no" src="http://hub.video.msn.com/embed/82a9f26a-a395-4802-847c-56a21c366417/?vars=YnJhbmQ9TVNfT2ZmaWNlJmNvbmZpZ0NzaWQ9TVNOVmlkZW8mbWt0PWVuLWNhJmxpbmtvdmVycmlkZTI9aHR0cCUzQSUyRiUyRmhlbHAub3V0bG9vay5jb20lMkZlbi1jYSUyRjE0MCUyRmNjNTExNDAxLmFzcHglM0Z2aWRlb0lkJTNEJTdCMCU3RCUyNmZyb20lM0QlMjNGaW5kVGhlU2VydmVyU2V0dGluZ3MmZnI9c2hhcmVlbWJlZC1zeW5kaWNhdGlvbiZzeW5kaWNhdGlvbj10YWcmY29uZmlnTmFtZT1zeW5kaWNhdGlvbnBsYXllciZsaW5rYmFjaz1odHRwJTNBJTJGJTJGdmlkZW8uY2EubXNuLmNvbSUyRg%3D%3D"><br/>  <a href="http://help.outlook.com/en-ca/140/cc511401.aspx?videoId=82a9f26a-a395-4802-847c-56a21c366417&from=shareembed-syndication&src=v5:embed:syndication:" target="_new" title="Outlook Web App: How To: Looking up the POP3 or IMAP4 Server Settings">Video: Outlook Web App: How To: Looking up the POP3 or IMAP4 Server Settings</a><br/></iframe>