!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %title= content_for?(:title) ? yield_content(:title) : (current_resource.data.title || "WireLoad Inc - Annoyingly good software and services.")
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %link{:href => "/feed.xml", :rel => "alternate", :title => "WireLoad Inc &raquo; WireLoad – Fancy software online and on the Mac. Comments Feed", :type => "application/rss+xml"}/
    %meta{:content => "WireLoad designs software. We search high and low for interesting problems and then mercilessly work them out with fanciful applications.", :name => "description"}/
    %meta{:content => "mac, web, productivity, calendar, email migration, email transfer, yippiemove, blotter, quiet, mac app store, mac apps", :name => "keywords"}/
    %link{:href => "http://wireload.net/", :rel => "canonical"}/
    %link{:href => "http://wireload.disqus.com/latest.rss", :rel => "alternate", :title => "WireLoad Inc latest comments", :type => "application/rss+xml"}/
    %link{:href => "/stylesheets/main.css", :rel => "stylesheet", :type => "text/css"}/

  - containing_path = request.path
  - classes = "file-" + File.basename(containing_path).parameterize
  - while containing_path = File.dirname(containing_path) and containing_path != "." and containing_path != "/"; classes << " folder-" + containing_path.parameterize; end

  %body{:class => classes}
    #page
      = yield
    / #page
    #footer
      #foot
        #copy
          \&copy;
          %strong 2006-2015.
          WireLoad Inc.
        %a#bot-logo{:href => "http://wireload.net"}
          %img{:alt => "Wireload", :src => "/images/bot_logo.png"}/
    %script{:src => "/js/jquery.js", :type => "text/javascript"}
    - if content_for?(:extra_js)
      = yield_content :extra_js

    %script{:src => "/js/main.js", :type => "text/javascript"}

    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :javascript
      try {
      var pageTracker = _gat._getTracker("UA-16042104-1");
      pageTracker._trackPageview();
      } catch(err) {}
