body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
}

header {
    background: #444;
    color: #fff;
    padding-top: 20px;
    min-height: 70px;
    border-bottom: #ddd 3px solid;
}

header h1 {
    padding: 5px 0;
    text-align: center;
    font-style: italic;
}

main {
    margin: 20px 0;
    text-align: center;
}

main p {
    font-size: 1em;
    color: #555;
    font-style: italic;
    margin-bottom: 15px;
}

footer {
    background: #444;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .container {
        width: 95%;
        padding: 10px;
    }

    main p {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 480px) {
    header h1, footer p {
        font-size: 0.9em;
    }

    main p {
        font-size: 0.8em;
    }
}

