---
layout: layout_bare
title: Blotter for Mac by WireLoad
---
#top-bg
#main
  = partial :header_nav, :locals => {:inverted => true}
  #wrapper
    #promo-head
      %h1.logo Blotter
      %h2 Unforgettable calendar.
      %a.button.btn-v2{:href => "http://itunes.apple.com/us/app/blotter/id406580224?mt=12"}
        %span Buy now
    %h2#prod-name
      %img{:alt => "Blotter Icon", :src => "/images/blotter/blotter_ico.png"}>/
      The future will never look the same again.
    #below-promo
      .container.top
        .description
          %span.left
          %p
            Present your iCal calendar events and reminders
            %strong right on your desktop
            with this stunning calendar viewer.
          %p Blotter renders your whole week as a part of your wallpaper. It is beautifully discreet yet only a glance away.
          %span.right
          %p With your week right before you, it is easy to see if you can make a meeting on Tuesday or if you’ll be able to go home early on Friday.
          %p You can also quickly add new events or tasks using hotkeys and Blotter's status bar menu.
        %a.app-store-button{:href => "http://itunes.apple.com/us/app/blotter/id406580224?mt=12"}
          %img{:alt => "Available Now On The App Store", :src => "/images/app_store.png"}/
        .like-it
          %div
            %iframe#twitter-widget-0.twitter-share-button.twitter-tweet-button.twitter-count-horizontal{:allowtransparency => "true", "data-twttr-rendered" => "true", :frameborder => "0", :scrolling => "no", :src => "http://platform.twitter.com/widgets/tweet_button.1384994725.html#_=1386679414848&amp;count=horizontal&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fwireload.net%2Fproducts%2Fblotter%2F&amp;size=m&amp;text=Blotter%20-%20Desktop%20calendar%20for%20your%20Mac%20%7C%20WireLoad%20Inc&amp;url=http%3A%2F%2Fwww.blotterapp.com", :style => "width: 107px; height: 20px;", :title => "Twitter Tweet Button"}

          %div
            %script{:src => "http://platform.twitter.com/widgets.js", :type => "text/javascript"}
            #fb-root
            :javascript
              (function(d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s); js.id = id;
                            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=593214827399251";
                            fjs.parentNode.insertBefore(js, fjs);
                          }(document, 'script', 'facebook-jssdk'));
            .fb-share-button{"data-href" => "http://wireload.net/products/blotter/", "data-type" => "button_count"}
        %ul.item-list
          %li
            .alignleft
              %img{:alt => "icon", :height => "38", :src => "/images/blotter/stop-icon.png", :width => "37"}/
            %p
              %strong Ready to go.
              Blotter connects directly to your regular iCal calendar. No setup required.
          %li
            .alignleft
              %img{:alt => "icon", :height => "38", :src => "/images/blotter/megaphone-icon.png", :width => "39"}/
            %p
              %strong What’s up?
              The “Right Now” view highlights events as they come.
          %li
            .alignleft
              %img{:alt => "icon", :height => "38", :src => "/images/blotter/checkmark-icon.png", :width => "38"}/
            %p
              %strong To do list, too.
              Blotter will display the next few items from your iCal tasks list as well.
      .gallery-box
        .heading
          %strong See it for yourself.
          %span.marker &nbsp;
        %a.prev{:href => "#", :style => "z-index: 50;"} previous
        %a.next{:href => "#", :style => "z-index: 50;"} next
        %ul.paging
          %li
            %a{:href => "#"} 1
          %li.active
            %a{:href => "#"} 2
          %li
            %a{:href => "#"} 3
        .gallery.plug-slide
          %ul.gallery-list{:style => "left: -929px;"}
            %li
              %a{:href => "/images/blotter/blotter-calendar-on-leaf-full.jpg"}
                %img.sliding{:alt => "Blotter calendar on green Mac OS X wallpaper.", :height => "375", :src => "/images/blotter/blotter-calendar-on-leaf.jpg", :width => "600"}/
              %img{:alt => "Blotter calendar reflection.", :height => "70", :src => "/images/blotter/blotter-calendar-on-leaf-ref.png", :width => "600"}/
            %li.active
              %a{:href => "/images/blotter/blotter-calendar-over-milkyway-full.jpg"}
                %img.sliding{:alt => "Blotter calendar with 'New Event' window.", :height => "375", :src => "/images/blotter/blotter-calendar-over-milkyway.jpg", :width => "600"}/
              %img{:alt => "Blotter calendar reflection.", :height => "70", :src => "/images/blotter/blotter-calendar-over-milkyway-ref.png", :width => "600"}/
            %li
              %a{:href => "/images/blotter/blotter-calendar-over-rome-full.jpg"}
                %img.sliding{:alt => "Blotter calendar over a desktop background of Rome.", :height => "375", :src => "/images/blotter/blotter-calendar-over-rome.jpg", :width => "600"}/
              %img{:alt => "Blotter calendar reflection.", :height => "70", :src => "/images/blotter/blotter-calendar-over-rome-ref.png", :width => "600"}/
            %li
              %a{:href => "/images/blotter/blotter-calendar-on-leaf-full.jpg"}
                %img.sliding{:alt => "Blotter calendar on green Mac OS X wallpaper.", :height => "375", :src => "/images/blotter/blotter-calendar-on-leaf.jpg", :width => "600"}/
              %img{:alt => "Blotter calendar reflection.", :height => "70", :src => "/images/blotter/blotter-calendar-on-leaf-ref.png", :width => "600"}/
      .container.bottom
        .testimonials
          %h2 What People Have Said
          %span.left
          %p
            Pick of the Week in Leo Laporte's
            = succeed "!" do
              %a{:href => "http://wiki.twit.tv/wiki/MacBreak_Weekly_239"} MacBreak Weekly
          %p
            %em "Blotter is a great productivity application. It places your iCal calendar directly onto your desktop in a discreet and out of the way fashion, while also being easily accessible. No setup is required, all you have to do is install it from the Mac App Store and your ready to go."
            = succeed "-" do
              %br/
            MacAppolis
          %p
            %em "How do you guy[s] live without @BlotterApp?"
            %br/
            \- @pouramie
          %p
            %em "It makes me use my desktop for something useful, while adding the ease of previewing what is coming up right now, without looking too far away."
            %br/
            \-
            %a{:href => "http://www.erikbernskiold.com/2011/04/27/blotter-showing-ical-on-your-desktop/"} Erik Bernskiold
          %span.right
          %p
            %em "Blotter calendar is much sexier than even the Lion calendar in full-screen. Apple should take some design cues from the Blotter developers for the future."
            %br/
            \- Steve Sande,
            %a{:href => "http://www.tuaw.com/2011/06/30/blotter-for-mac-puts-ical-on-your-desktop/"} TUAW
          %p
            %em "@blotterapp is the only app that i USE RELIGIOUSLY ! its brilliant !"
            %br/
            \- @drbuk
          %p
            %em "[Blotter is] well designed."
            %br/
            \- Alex Lindsay, MacBreak Weekly
          %p
            %em "With Blotter, you can display your iCal content on your desktop and so keep an eye on your important stuff much easier – and surprisingly enough, find that there just might be time to do everything properly."
            %br/
            \- Julia Altermann,
            %a{:href => "http://mac.appstorm.net/reviews/productivity-review/blotter-displaying-ical-on-your-desktop/"} Mac App Storm
          %p
            %em "With Blotter, you'll stop forgetting appointments because they are right there, in your face, all the time."
            %br/
            \-
            %a{:href => "http://www.elliottplack.com/blog/2011/4/14/blotter-for-mac.html"} Elliott Plack
        %ul.advantage-list
          %li.type1
            %strong Less than meets the eye.
            Blotter uses very little memory and processing power.
          %li.type2
            %strong Go down memory lane. Or up.
            View past and coming weeks with ease.
          %li.type3
            %strong Bring to Front.
            Bring Blotter to front for a quick look above the clutter.
        %a.app-store-button{:href => "http://itunes.apple.com/us/app/blotter/id406580224?mt=12"}
          %img{:alt => "Available Now On The App Store", :src => "/images/app_store.png"}/
        %ul#right-links
          %li
            %a{:href => "http://support.wireload.net"}
              %img{:alt => "Support", :src => "/images/ico_supp.png"}>/
              Support
          %li
            %a{:href => "http://support.wireload.net/forums/356140-frequently-asked-questions"}
              %img{:alt => "FAQ", :src => "/images/ico_faq.png", :style => "margin-left: -76px;"}>/
              FAQ
          %li
            %a{:href => "http://twitter.com/BlotterApp"}
              %img{:alt => "Twitter", :src => "/images/a_ico1.png", :style => "top: 2px;"}>/
              Twitter
  %div{:style => "clear: both"}
