---
title: Chronicle is the most intuitive journaling application on the market
---
#news-details
  #nd-head
  .nd-body.post-content
    %h2.entry-title
      Archive: Chronicle.im

    %p
      %img.aligncenter.size-medium.wp-image-601{:alt => "Chronicle.im", :src => "/images/chronicle_im.jpg", :title => "Chronicle.im in action"}/
    %h2 Important information
    %p Chronicle.im was a project that WireLoad worked on in 2010. Unfortunately Chronicle was never launched.
    %h2 Product tagline
    %p Chronicle is the most intuitive journaling application on the market.
    %h2 Product description
    %p Chronicle is disruptive, as it is the first web-based journaling application that brings the simplicity and intuitiveness of a well-designed desktop application. The design-inspiration for Chronicle comes primarily from Apple's UI architecture. You'll find the same familiar elements in Chronicle as you would in Apple Mail and iTunes.
