.DS_Store
.sass-cache
www/wp-content/w3-total-cache-config.php
www/wp-content/w3-total-cache-config-preview.php
www/sitemap.xml
www/sitemap.xml.gz
www/wp-content/w3tc/dbcache
www/wp-content/w3tc/objectcache

