---
title: Introducing OFC - WireLoad Edition
authors: Viktor Petersson
wordpress_id: 19
wordpress_url: http://wireload.net/2009/02/introducing-ofc-wireload-edition/
date: 2009-02-23 19:31:38
tags: site
---
It's exciting times here at WireLoad. We're currently in the works of developing a major new version of YippieMove. While we were doing this, we searched the Open Source community for an awesome data visualization tool. The best thing we found was <a href="http://teethgrinder.co.uk/open-flash-chart/">Open Flash Chart</a>. However, we were not completely happy with it, and put our engineers to work on improving it. The result is something we call <em>Open Flash Chart - WireLoad Edition</em>. True to the Open Source mentality, we've published the modified version in a new section on our site called <a title="WireLoad Open Source" href="http://wireload.net/open-source/">Open Source</a>.