---
title: Introducing Email Service Guide
author: Viktor Petersson
wordpress_id: 176
wordpress_url: http://wireload.net/2009/08/introducing-email-service-guide/
date: 2009-08-14 07:29:23
tags: press-release
---
MOUNTAIN VIEW, CA -- August 14, 2009 -- WireLoad has today unveiled a major new addition to their portfolio of email products. The new product is named Email Service Guide (ESG) and is a refreshing alternative to all pay-for-the-top-spot email hosting top-lists. The objective of ESG is simple: based on set of criteria, it will find the best email service provider.<br/><strong>There is no all-around-best email provider</strong><br/>Instead of trying to find the best all-around email provider, ESG will find the best email hosting service based on the users’ needs. Unlike any other tool available, ESG can answer questions such as:<br/><ul><br/>	<li>Who is the cheapest provider that supports IMAP and offers 8GB storage per user?</li><br/>	<li>What providers offers Microsoft Exchange hosting with 99.999% or more Service License Agreement (SLA)?</li><br/>	<li>Where can I find email hosting powered by renewable energy?</li><br/></ul><br/><strong>Transparent side-by-side comparison</strong><br/>Once ESG has found the best matches based on the given criterions, it provides a transparent side-by-side comparison with data formatted in a uniform fashion.  <br/><strong>More than different 100 email plans</strong><br/>From the getgo, ESG features more than 100 different email plans from all of the leading email providers on the market. <br/>Email Service Guide is available today at <a href="http://www.emailserviceguide.com">http://www.EmailServiceGuide.com</a>