---
title: Scheduled maintenance tomorrow
authors: Viktor Petersson
wordpress_id: 439
wordpress_url: http://wireload.net/2010/04/scheduled-maintenance-tomorrow/
date: 2010-04-14 19:45:14
tags: maintenance, maintenance
---
<p>Tomorrow, April 15th, we have a scheduled maintenance that will affect the ability to access the site.</p><br/><p>The maintenance is scheduled for 5:00 AM PST / 8:00 AM ET and we expect it to last for less than 30 minutes.</p><br/><p>(For the technical crowd, we are upgrading from PostgreSQL 8.3 to 8.4.)</p>