---
title: YippieMove now supports Zoho
author: Viktor Petersson
wordpress_id: 449
wordpress_url: http://wireload.net/2010/07/yippiemove-now-supports-zoho/
date: 2010-07-15 20:31:50
tags: imap, news, zoho
---
We're happy to announce that YippieMove now supports <a href="http://www.zoho.com">Zoho</a>. Unfortunately, you might need to make one minor change to your Zoho settings to use it with YippieMove. <br/>Once logging into Zoho, you will need to do the following:<br/><ul><br/>	<li>Go to the settings.</li><br/>	<li>Select the 'Personalize'-tab.</li><br/>	<li>Select the 'Email forwarding and POP/IMAP'-tab below. </li><br/>	<li>Set IMAP-access to 'Enable' and press 'Save'</li><br/></ul><br/><a href="http://blog.yippiemove.com/wp-content/uploads/2010/07/Zoho_imap.jpg"><img src="http://blog.yippiemove.com/wp-content/uploads/2010/07/Zoho_imap-300x213.jpg" alt="Enable IMAP in Zoho" title="Enable IMAP in Zoho" width="300" height="213" class="aligncenter size-medium wp-image-306" /></a><br/>Your account is now ready to use with <a href="http://www.yippiemove.com">YippieMove</a>. You can now move your entire email archive both to and from Zoho. All you need to do is to select 'Zoho' in the drop-down list in YippieMove.