---
title: Are you graduating from College? What will happen to your email?
author: Viktor Petersson
wordpress_id: 86
wordpress_url: http://wireload.net/2010/06/are-you-graduating-from-college-what-will-happen-to-your-email/
date: 2010-06-01 20:05:39
tags: tips
---
Congratulation to all of you out there who just graduated or is about to graduate from college. Regardless if you graduate from undergraduate or graduate school, you are still facing a minor problem that you might not have thought much about: What will happen to your email? <br/>Most schools will give you a grace period after graduating, where you will still be able to get access to your email account. The length of this grace period varies a lot between different schools. Once this grace period is over, the school will wipe all your data. All the emails that you've collected over the time you've spent at the university <strong>will be gone -- forever</strong>.<br/>Luckily there is an easy fix for this. No, I'm not talking about forwarding every single email by hand like some people do. I'm talking about YippieMove. We can help you transfer all your emails to anywhere you want. <br/>Using YippieMove is dead simple. Enter your credentials for your university email. Select your university in the drop-down list (if your university is not listed, let us know, and we can add it). In the next step you enter where you want to transfer your emails to (ex. Gmail). In the last and final step, you select the folders you want to transfer.<br/>That's it. Simple as pie. You don't need to spend hours to forward emails one-by-one. Just use <a href="http://www.yippiemove.com">YippieMove</a>. 