---
title: Introducing the YippieMove blog
authors: Viktor Petersson
wordpress_id: 4
wordpress_url: http://wireload.net/2010/01/introducing-the-yippiemove-blog/
date: 2010-01-30 19:28:03
tags: news, tumblr
---
<p>Ever since we launched YippieMove, we've been planning on adding a blog. It's not that we have no experience with blogging (we frequently blog for <a title="Email Service Guide" href="http://www.emailserviceguide.com">Email Service Guide</a> and <a title="Playing With Wire" href="http://www.playingwithwire.com">Playing With Wire</a>), but rather the lack of time. Up to this point, we've primarily used Twitter for posting updates, but due to the 140 character limit, it's not a perfect fit.</p><br/><p>We'll keep on using Twitter too, but adding a blog is in place.</p>