---
title: How to move your contacts from Gmail to Zoho Mail
author: admin
wordpress_id: 475
wordpress_url: http://wireload.net/2010/08/how-to-move-your-contacts-from-gmail-to-zoho-mail/
date: 2010-08-22 14:51:30
tags: education, gmail, screencast, video, zoho
---
In this brief video, we'll walk you trough the process of moving your contacts from Gmail over to Zoho Mail. <br/><object width="480" height="385"><param name="movie" value="http://www.youtube.com/v/UKJcpeUKg6k&amp;hl=en_US&amp;fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/UKJcpeUKg6k&amp;hl=en_US&amp;fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="385"></embed></object><br/><a href="http://www.youtube.com/watch?v=UKJcpeUKg6k">Watch the video in higher resolution directly on YouTube</a>.