---
title: Free YippieMove transfers today and tomorrow!
author: Viktor Petersson
wordpress_id: 447
wordpress_url: http://wireload.net/2010/07/free-yippiemove-transfers-today-and-tomorrow/
date: 2010-07-13 10:33:29
tags: news, promo, twitter
---
Last week we reached an important milestone. <strong>We've transferred our 10,000th email account!</strong> This is a major accomplishment.<br/>To celebrate this, we give away <strong>free transfers today</strong> (July 13th) <strong>and tomorrow</strong> (July 14th). That's a $14.95 value per transfers! All you need to do to is to send out a tweet.<sup>*</sup><br/><ol><br/><li>Follow <a href="http://www.twitter.com/yippiemove">YippieMove</a> on Twitter</li><br/><li>Send out the following tweet:<br /><br/><blockquote>I'm about to transfer all my email from ___ to ___ with YippieMove. http://www.yippiemove.com</blockquote></li><br/>E.g. "I'm about to transfer all my email from Yahoo to Gmail with YippieMove. http://www.yippiemove.com"<br/><a href="http://twitter.com/home?status=I'm%20about%20to%20transfer%20all%20my%20email%20from%20___%20to%20___%20with%20YippieMove..%20http%3A%2F%2Fwww.yippiemove.com">Click here</a> for a pre-compiled message.<br/></ol> <br/>We will monitor the tweetosphere and once we see the messages, we will send you a voucher valid for one transfer in a Direct Message.  <br/><a href="http://www.yippiemove.com"><strong>Go to YippieMove</strong></a>.<br/><strong>Update</strong>: It seems like Twitter is having some trouble today. We will try to send out the Direct Messages as soon as Twitter allows us. <br/><small><sup>*</sup> Limited to one transfer per user and the first 1,000 users per day. Only valid for single-user transfers. </small>