---
title: YippieMove featured on AskAdria
authors: Viktor Petersson
wordpress_id: 39
wordpress_url: http://wireload.net/2010/05/yippiemove-featured-on-askadria/
date: 2010-05-18 19:05:53
tags: askadria, news, press
---
YippieMove was mentioned in Yesterday's episode of Adria Richard's show <a href="http://askadria.com/">AskAdria</a>. The title for the episode is '<a href="http://www.livestream.com/adriarichards/video?clipId=pla_43e6783c-6e20-4345-8bc8-579619547be1&utm_source=lsplayer&utm_medium=ui-play&utm_campaign=click-bait&utm_content=adriarichards">Why Your @aol.com Email Address is Professional Suicide</a>.'<br/><img src="http://blog.yippiemove.com/wp-content/uploads/2010/05/adria.png" alt="AskAdria" title="AskAdria" width="500" height="267" class="alignnone size-full wp-image-45" /><br/><em>(YippieMove is mentioned about 41 minutes into the show)<br/></em><br/>In addition to running the AskAdria show, Adria have also founded <a href="http://freshworkshops.com/">FreshWorkshops</a>. You can also find more from Adria over at here blog <a href="http://butyoureagirl.com/">Butyoureagirl</a>.