---
title: YippieMove is helping Zenbe's free users to find a new home
author: Viktor Petersson
wordpress_id: 9
wordpress_url: http://wireload.net/2010/02/yippiemove-is-helping-zenbes-free-users-to-find-a-new-home/
date: 2010-02-08 19:31:06
tags: news, zenbe
---
<p><a title="Zenbe" href="http://www.zenbe.com/">Zenbe</a> is phasing out their free email plan. Since they already have a lot of users on this plan, they wanted to offer these users a way to move their email to a new home.</p><br/><p>Tom, the co-founder of Zenbe, reached out to us this past weekend and asked if we wanted to work with them on this project. Of course we want to. We are always excited to help users find a new home for their email - regardless of the reason.</p><br/><p>So to all you Zenbe-users reading this - thank you for using YippieMove.</p><br/><p>To Zenbe - thank you for reaching out to us.</p>