---
title: How to move your contacts from Yahoo to Gmail
authors: admin
wordpress_id: 457
wordpress_url: http://wireload.net/2010/08/how-to-move-your-contacts-from-yahoo-to-gmail/
date: 2010-08-11 14:08:42
tags: education, gmail, screencast, video, yahoo
---
Do you want to know how to move your contacts from Yahoo Mail over to Gmail without having to use TrueSwitch? Watch the video below, and we'll show you how. <br/><object width="480" height="385"><param name="movie" value="http://www.youtube.com/v/zFRbrTjFHnU&amp;hl=en_US&amp;fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/zFRbrTjFHnU&amp;hl=en_US&amp;fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="385"></embed></object><br/><a href="http://www.youtube.com/watch?v=zFRbrTjFHnU">Watch the video directly on YouTube</a> for higher quality.<br/><!--more--><br/>Do you have any topic that you would like us to cover? Post a comment below.<br/><strong>Update:</strong> Since we recorded the video, Google <a href="http://gmailblog.blogspot.com/2010/08/updates-to-contacts-and-slightly-new.html">rolled out an update</a> to the Contacts-module. You will now find the 'Import' link under 'More actions.' Please see the screenshot below.<br/><img src="http://blog.yippiemove.com/wp-content/uploads/2010/08/new_gmail_contacts-450x161.png" alt="New Gmail Contacts" title="New Gmail Contacts" width="450" height="161" class="alignright size-medium wp-image-479" />