---
title: Black Friday special
author: admin
wordpress_id: 538
wordpress_url: http://wireload.net/2010/11/black-friday-special/
date: 2010-11-26 13:47:04
tags: black-friday, campaign, discount, news
---
Black Friday is great time to save yourself some serious money. But how about instead of having to walk around in over-crowded stores <strong>save 50% on an email migration</strong> without even leaving the house? <br/>It might not be as sexy as that new LED TV or laptop you've had your eyes on, but it might be more useful.  Just use the discount code '<strong>blackfriday</strong>' in the checkout.<br/>The offer will expire today at midnight. Hurry up before it's too late!<br/><a href="http://www.yippiemove.com">Go to YippieMove</a>.<br/><small><em>The offer is limited to one purchase per customer and only valid for single-transfers.</em></small>