---
title: We just added support for 11 new providers
authors: Viktor Petersson
wordpress_id: 450
wordpress_url: http://wireload.net/2010/07/we-just-added-support-for-11-new-providers/
date: 2010-07-19 22:15:28
tags: att, news, yahoo
---
Last month, AT&T <a href="https://webauth.att.net/auth/webmail/login?action=Login&url=http://webmail.att.net/wmc/en-US/v/wmgoto/4C44C669000C12E70000543C2223070372">pulled the plugg</a> on their in-house email service. <br/>By now, all AT&T user's email have been moved over to Yahoo.  This is a good thing for the clients, as Yahoo is actually offer better email service than what AT&T used to offer with their in-house solution.<br/>This also opens up the ability to use YippieMove. Perhaps you're tried of AT&T and just want to move all your email over to Gmail (or the other way around), this is now possible. With just a few clicks, you can move your email to wherever you want. <br/><!--more--><br/>To make things easier for you, we went ahead and added all of AT&T's different subsidiaries to the drop-down list in <a href="http://www.yippiemove.com">YippieMove</a>.  Users with email addresses ending with the following should now be able to use YippieMove:<br/><ul><br/>	<li>@ameritech.net (Ameritech)</li><br/>	<li>@att.net (AT&T)</li><br/>	<li>@bellsouth.net (BellSouth)</li><br/>	<li>@flash.net</li><br/>	<li>@nvbell.net (Nevada Bell)</li><br/>	<li>@pacbell.net (PacBell)</li><br/>	<li>@prodigy.net (Prodigy)</li><br/>	<li>@sbcglobal.net (SBC Global)</li><br/>	<li>@snet.net (SNET)</li><br/>	<li>@swbell.net (Southwestern Bell)</li><br/>	<li>@wans.net</li><br/></ul><br/>Happy moving!