---
title: It's Transfer Tuesday!
author: Viktor Petersson
wordpress_id: 548
wordpress_url: http://wireload.net/2010/11/its-transfer-tuesday/
date: 2010-11-30 14:32:25
tags: news, promo, twitter
---
It's time to introduce something new here at YippieMove. From today, we will be starting with something we call <strong>Transfer Tuesday</strong>.<br/>The rules are simple. The first five people who <a href="http://twitter.com/home?status=It's%20%23TransferTuesday%20and%20I%20want%20a%20free%20@YippieMove%20email%20transfer.">tweet out</a> the following will get a free YippieMove email transfer*.<br/><blockquote><br/>It's #TransferTuesday and I want a free @YippieMove email transfer.<br/></blockquote><br/><strong>Let the tweeting begin!</strong><br/><small>*You also need to follow us, so that we can send you a DM with the voucher code.</small>