---
title: What will happen with Novell (and Groupwise)?
authors: Viktor Petersson
wordpress_id: 70
wordpress_url: http://wireload.net/2010/05/what-will-happen-with-novell-and-groupwise/
date: 2010-05-31 11:55:10
tags: groupwise, novell, tips
---
If your organization is currently using Novell Groupwise, you should be paying close attention to the rumors about Novell being up for sale. According to <a href="http://dealbook.blogs.nytimes.com/2010/05/19/novell-set-to-consider-takeover-bids-from-suitors/">sources</a>, the buyer is likely to be a private equity firm. What happens if the acquire's objective is to split up the company and sell it in pieces? This is not very unlikely. What will then happen to Groupwise? <br/>If you are not ready to take any chances, we can help you move your users to pretty much any email platform on the market. It doesn't matter if you are moving to Microsoft Exchange, Google Apps, Live@EDU or a standard IMAP-server, such as Cyrus-IMAP or Courier-IMAP -- YippieMove can help you.<br/>We offer a variety of products that can be tailored to your exact needs. <br/><ul><br/>	<li>Want to migrate all users at once? </li><br/>No problem, our <a href="http://www.yippiemove.com/help/batch_migration.html">Batch Migration</a> can take care of that. <br/>	<li>Want to enable your users to migrate their email themselves?</li><br/>No problem, our <a href="http://www.yippiemove.com/help/custom_domain.html">Custom Domain</a> can be tailored to fit your exact needs.<br/></ul><br/>If you have any questions, don't hesitate to contact our sales team at salesteam@yippiemove.com.