---
title: How to remove duplicate contacts in Gmail
author: admin
wordpress_id: 489
wordpress_url: http://wireload.net/2010/08/how-to-remove-duplicate-contacts-in-gmail/
date: 2010-08-26 22:41:09
tags: contacts, education, gmail, video
---
Do you have a lot of duplicate contacts in your Gmail accounts? Then it must be your lucky day. We've put together a step-by-step video on how to find and eliminate these duplicate contacts.<br/><object width="480" height="385"><param name="movie" value="http://www.youtube.com/v/MF2p808Wirk&amp;hl=en_US&amp;fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/MF2p808Wirk&amp;hl=en_US&amp;fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="385"></embed></object><br/><a href="http://www.youtube.com/watch?v=MF2p808Wirk">Watch the video in higher resolution on YouTube</a>.