---
title: Two new partners
authors: Viktor Petersson
wordpress_id: 7
wordpress_url: http://wireload.net/2010/02/two-new-partners/
date: 2010-02-03 19:29:27
tags: emailchemy, ltech, news, partners, weird-kid-software
---
<p>We're proud to introduce two new YippieMove partners today: <a title="LTech" href="http://www.ltech.com/">LTech</a> and <a title="Weird Kid Software" href="http://www.weirdkid.com/">Weird Kid Software</a>. Both of these companies are leaders in their particular niche.</p><br/><p>If you are moving from Microsoft Exchange to Google Apps, you really ought to look into LTech's solutions. Their portfolio includes software such as contact and calendar migration, as well as their latest addition: CloudMove, a SharePoint to Google Apps migration tool.</p><br/><p>Weird Kid Software offers a software named Emailchemy which is the number one software for geting email out of a proprietary email format, such as Outlook's PST-files. The list of supported email formats Emailchemy is very long, and it includes pretty much every email format on the market. You can find the complete list <a title="Emailchemy" href="http://www.weirdkid.com/products/emailchemy/index.html">here</a>.</p><br/><p>We are really happy to work with these companies. For more information about our partners, please visit our <a title="YippieMove Partner-page" href="http://www.yippiemove.com/partners.html">Partner-page</a>.</p>