---
title: YippieMove now supports Microsoft's Live@EDU
author: Viktor Petersson
wordpress_id: 24
wordpress_url: http://wireload.net/2010/04/yippiemove-now-supports-microsofts-liveedu/
date: 2010-04-01 19:41:54
tags: liveedu, microsoft, news
---
<p>Good news everyone! YippieMove now supports Microsoft Live@EDU. That means that you can now easier than ever before move your emails into and out of Live@EDU. Since YippieMove already supported Google Apps (all versions), we now cover the biggest educational cloud-providers.&nbsp;</p><br/><p>As more and more schools are replacing their on-site email systems with either Google Apps <span>Education or Microsoft Live@EDU, it's reassuring to know that you can get your data out of there one day. </span></p><br/><p><span>For students and faculty, this means that once they graduate or quit, they can easily take the data with them to wherever they desire, regardless if that is a Gmail account or an account at their new employer. </span></p><br/><p>For the IT department, this means that they are not locked-in to one vendor. If they so desire to switch from, let's say Live@EDU to Google Apps Education (or the other way around), that can be done fairly easy.</p><br/><p>To use Live@EDU in YippieMove, simply select it in the drop-down list in <em><a href="http://www.yippiemove.com/step/1/">Step 1</a> or Step 2. <br /></em></p><br/><img src="http://blog.yippiemove.com/wp-content/uploads/2010/04/Microsoft_live_edu.png" alt="" title="Microsoft_live_edu" width="396" height="182" class="aligncenter size-full wp-image-23" /><br/><p>If you have any questions, please&nbsp;<a href="http://support.yippiemove.com/requests/anonymous/new">contact our support team</a>.</p>