---
title: Quiet 1.4 is out
author: Viktor Petersson
wordpress_id: 891
wordpress_url: http://wireload.net/2011/11/quiet-1-4-is-out/
date: 2011-11-04 10:29:19
tags: quiet, release-notes
---
We just rolled out an update to <a href="http://wireload.net/products/quiet/">Quiet</a>. In addition to a few bug-fixes, version 1.4 also does the following:<br/><ul><br/>	<li>Resolved an issue with Quiet needlessly switching on the discrete GPU in MacBook Pro computers.</li><br/>	<li>Lowered CPU usage of Focus Out mode.</li><br/></ul><br/>Grab your copy of Quiet <a href="http://itunes.apple.com/us/app/quiet/id421759530?mt=12#">here</a>.