---
title: YippieMove now supports iCloud
author: Viktor Petersson
wordpress_id: 879
wordpress_url: http://wireload.net/2011/10/yippiemove-now-supports-icloud/
date: 2011-10-13 05:21:21
tags: apple, icloud, news, yippiemove
---
<img src="http://wireload.net/wp-content/uploads/2011/10/overview_title.png" alt="Apple iCloud" title="Apple iCloud" width="256" height="294" class="alignright size-full wp-image-882" />Yesterday Apple's <a href="http://www.apple.com/icloud/">iCloud</a> officially launched. Today we're happy to announce that YippieMove now works with iCloud. <br/>If you haven't heard of iCloud, Apple describes it as:<br/><blockquote><br/>[T]he cloud the way it should be: automatic and effortless. iCloud is seamlessly integrated into your apps, so you can access your content on all your devices.<br/></blockquote><br/>With <a href="http://www.yippiemove.com">YippieMove</a>, you can now easily move your email in and out of iCloud. All you need to do is select 'Apple iCloud' as the source or destination provider (Step 1 or Step 2) in YippieMove and you're ready to move. <br/><a href="https://www.yippiemove.com/step/1/">Click here</a> to get started.<br/>