---
title: Quiet 1.2 is out -- Now fully Mac OS X Lion compatible. 
authors: Viktor Petersson
wordpress_id: 786
wordpress_url: http://wireload.net/2011/07/quiet-1-2-is-out-now-fully-mac-os-x-lion-compatible/
date: 2011-07-16 06:03:14
tags: news, quiet, release-notes
---
We're happy to finally get <a href="http://wireload.net/products/quiet/">Quiet</a> 1.2 out the door. In addition to various bug fixes and general improvements, Quiet 1.2 is now fully Mac OS X Lion compatible. The update is available today for free in the Mac App Store. <br/>Here are the changes for Quiet 1.2:<br/><ul><br/>	<li>Adds Mac OS X Lion compatibility.</li><br/>	<li>Fixes a bug where the preferences window would open unintentionally. </li><br/>	<li>Resolves an issue when Wallpaper mode was used but the wallpaper had been deleted.</li><br/>	<li>Improved interaction with fullscreen apps.</li><br/></ul><br/>