---
title: Quiet 1.3 is out. Addresses Snow Leopard bug in 1.2
authors: Viktor Petersson
wordpress_id: 797
wordpress_url: http://wireload.net/2011/07/quiet-1-3-is-out-addresses-snow-leopard-bug-in-1-2/
date: 2011-07-19 01:03:59
tags: news, press-release, quiet
---
I know, I know, we <strong>just</strong> released <a ref="http://wireload.net/products/quiet/">Quiet</a> 1.2 Since we worked so had on getting Quiet Mac OS X Lion compatible, we failed to test it thoroughly under Mac OS X Snow Leopard. As a result, a <a href="http://support.wireload.net/entries/20285351-my-dock-disappeared-after-exiting-isolation-mode">bug</a> sneaked in that only affected Snow Leopard. <br/>We decided that this bug was serious enough for us to drop everything and release a new version that addressed the issue. <br/>Quiet 1.3 is available in the Mac App Store today as a free update. 