---
title: A sneak preview of the new Gmail web interface
author: Viktor Petersson
wordpress_id: 658
wordpress_url: http://wireload.net/2011/07/a-sneak-preview-of-the-new-gmail-web-interface/
date: 2011-07-06 08:00:04
tags: gmail, google, google-apps, news, yippiemove
---
Through <a href="http://www.yippiemove.com">YippieMove</a> we get in touch with many enthusiastic Gmail/Google Apps users. If you spend the majority of your day starring at your webmail client, the small details matters a lot. When Gmail reveals a radically redesigned interface, we know people will vent their opinions. Some will love it, and others will hate it. <br/>Screenshots of the new interface can be found <a href="http://gmailblog.blogspot.com/2011/06/preview-of-gmails-new-look.html">here</a>. What do you think? It certainly aligns with the interface of Google+.<br/><strong>Update</strong>: <a href="http://wireload.net/2011/07/how-you-get-gmails-new-look-today/">How you can get Gmail's new look today.</a>