---
title: Pick your inbox style in Gmail
author: Viktor Petersson
wordpress_id: 713
wordpress_url: http://wireload.net/2011/07/pick-your-inbox-style-in-gmail/
date: 2011-07-09 06:49:19
tags: gmail, google, google-apps, news, yippiemove
---
Google just <a href="http://gmailblog.blogspot.com/2011/07/new-pick-your-favorite-inbox-style.html">announced</a> a pretty neat feature to the Gmail interface. You can now select what 'inbox style' you like to display. The options are:<br/><ul><br/>	<li>Classic</li><br/>	<li>Important first</li><br/>	<li>Unread first</li><br/>	<li>Starred first</li><br/></ul><br/>The different styles are rather self-explanatory. For more information, see the original <a href="http://gmailblog.blogspot.com/2011/07/new-pick-your-favorite-inbox-style.html">blog-post</a>. We think this is a pretty nifty new feature to combat information overflow. 