---
title: You can get more storage for your Gmail account
author: Viktor Petersson
wordpress_id: 578
wordpress_url: http://wireload.net/2011/06/you-can-get-more-storage-for-your-gmail-account/
date: 2011-06-24 07:46:25
tags: gmail, google-apps, tips, yippiemove
---
Every other week we get in touch with people who are moving to Gmail, but have run out of storage on the destination account. This frequently happens for users who are trying to consolidate multiple email accounts into one. For many users, the ~7GB storage limit in Gmail is a major show-stopper if they are trying to consolidate many years worth of email. <br/>Luckily for all of those users, Google does give you the option to purchase additional storage to your Gmail account. You can purchase up to a whooping 16TB storage to your Gmail account, which is an insane amount of data. To purchase more storage, visit <a href="https://www.google.com/accounts/PurchaseStorage">this</a> page.<br/>Unfortunately, this is only an option for Gmail, and not Google Apps. Google Apps Standard users are limited to ~7GB, while Google Apps for Business comes with 25GB.