---
title: More video reviews of Blotter
authors: Viktor Petersson
wordpress_id: 589
wordpress_url: http://wireload.net/2011/07/more-video-reviews-of-blotter/
date: 2011-07-02 04:28:28
tags: blotter, video
---
In the last two weeks, we've received two great video reviews of Blotter. We are really grateful for all the kind words in both of these reviews, and we can't thank you enough. <br/>

<!--more--><br/>The first video we want to share is from UK blogger <a href="http://twitter.com/#!/drbuk">Dr. BUK</a>, who has been a long-time Blotter user and evangelist. You can find his review here:<br/><iframe width="560" height="349" src="http://www.youtube.com/embed/ABMMjMrhk8k" frameborder="0" allowfullscreen></iframe><br/>The second video we want to share with you is from Hawaiian blogger <a href="http://twitter.com/#!/docrock">Docrock</a>, who posted both a <a href="http://www.nonstophonolulu.com/stories/blotter-a-cooler-way-to-view-your-day/">blogpost</a> at Nonstop Honolulu as well as the following video. Docrock also appeared in the <a href="http://wireload.net/2011/06/tuaw-talks-about-blotter/">TUAW video</a> we recently posted. <br/><iframe width="560" height="349" src="http://www.youtube.com/embed/D4SuIGSnBtA" frameborder="0" allowfullscreen></iframe><br/>Thank you guys! You rock.