---
title: How can I stay up to date with WireLoad?
author: Viktor Petersson
wordpress_id: 661
wordpress_url: http://wireload.net/2011/07/how-can-i-stay-up-to-date-with-wireload/
date: 2011-07-07 03:21:21
tags: facebook, news, twitter
---
As you may have noticed, we have a few Twitter accounts set up here at WireLoad. The reasoning for this is that our users should be able to easily track the information they seek.<br/>Here are the Twitter accounts we are using, along with a brief description.<br/><ul><br/>	<li><a href="http://twitter.com/#!/wireload">@WireLoad</a> - The firehose. Information about all our products will be posted here.</li><br/>	<li><a href="http://twitter.com/#!/blotterapp">@BlotterApp</a> - News and information about <a href="http://wireload.net/products/blotter/">Blotter</a>.</li><br/>	<li><a href="http://twitter.com/#!/quietapp">@QuietApp</a> - News and information about <a href="http://wireload.net/products/quiet/">Quiet</a>.</li><br/>	<li><a href="http://twitter.com/#!/yippiemove">@YippieMove</a> - News and information about <a href="http://www.yippiemove.com">YippieMove</a>.</li><br/></ul><br/>If you prefer to stay up to date with us on Facebook, you can do that too.<br/><ul><br/>	<li><a href="https://www.facebook.com/pages/Blotter/218863461460219">Blotter Fan page</a></li><br/>	<li><a href="https://www.facebook.com/pages/Quiet/200263450010941">Quiet Fan page</a></li><br/>	<li><a href="https://www.facebook.com/pages/YippieMove/35675068611">YippieMove Fan page</a></li><br/></ul>