---
title: Follow on Google+
author: Viktor Petersson
wordpress_id: 998
wordpress_url: http://wireload.net/2011/12/follow-on-google/
date: 2011-12-01 02:40:28
tags: blotter, news, quiet, yippiemove
---
<img src="http://wireload.net/wp-content/uploads/2011/12/google_plus_logo.png" alt="" title="google_plus_logo" width="150" height="148" class="alignright size-full wp-image-999" />We're always looking for ways to connect with our users. We've long been on both <a href="http://wireload.net/2011/07/how-can-i-stay-up-to-date-with-wireload/">Twitter and Facebook</a>, but now we're on Google+ too. In addition to the <a href="https://plus.google.com/u/0/b/112729781724755936723/">WireLoad-page</a>, you can also follow our product directly on the following pages:<br/><ul><br/>	<li><a href="https://plus.google.com/u/0/b/113409825409489114187/">Blotter</a></li><br/>	<li><a href="https://plus.google.com/u/0/112898288496454319804/">Quiet</a></li><br/>	<li><a href="https://plus.google.com/u/0/b/107671714781934830268/">YippieMove</a></li><br/></ul>