---
title: The consolidation continues
authors: Viktor Petersson
wordpress_id: 570
wordpress_url: http://wireload.net/2011/06/the-consolidation-continues/
date: 2011-06-22 05:21:45
tags: news
---
Since we started WireLoad, we've launched numerous blogs and websites. The main reason for starting a new blog was always that it had a slightly different focus than our 'main' blog. While having multiple blogs is great, as it enables us to keep narrow focus on each blog. The downside however with having multiple blogs/websites is primarily that it brings on a lot of maintenance. It also makes us feel bad that we cannot allocate enough time to write new content for these blogs.<br/>The first thing we did after launching the new WireLoad.net was to migrate Blotter App (which was previously blotterapp.com) over to the product page here. Once that was taken care of, we have now moved on to consolidating our blogs. <br/>Today we have shut down the YippieMove blog (blog.yippiemove.com), and migrated over all the content to this site. <br/>We've also posted on our other web properties (<a href="http://www.emailserviceguide.com/articles/">Email Service Guide</a> and <a href="http://www.playingwithwire.com/">Playing With Wire</a>) that they should visit this site instead for the latest news.<br/>It is with mixed feelings we deprecate these blogs, but we think it makes sense to have one main blog instead of multiple, less updated, blogs.