---
title: Introducing Google Update Uninstaller
authors: Viktor Petersson
wordpress_id: 782
wordpress_url: http://wireload.net/2011/07/introducing-google-update-uninstaller/
date: 2011-07-14 12:43:55
tags: google-update-uninstaller, news
---
<img src="http://wireload.net/wp-content/uploads/2011/06/GUU-150x150.png" alt="Google Update Uninstaller" title="Google Update Uninstaller" width="150" height="150" class="alignright size-thumbnail wp-image-601" />Today we're proud to introduce a very handy utility called Google Update Uninstaller (GUU).<br/>What GUU does is very simple - it uninstalls Google's super annoying update tool Google Update, which is randomly started in the background without your consent. GUU also prevent Google Update from re-installing itself (which it otherwise will do). That's all GUU does. Simple, but very useful. <br/>We tried to get GUU approved in the Mac App Store, but it was rejected by Apple because we used the Google trademark. Because of this, we decided to simply put it up on our website for anyone to download for free.<br/><a href="http://wireload.net/products/guu-google-update-uninstaller/">Visit to the Google Update Uninstaller product page</a>.