---
title: A much needed website overhaul
authors: Viktor Petersson
wordpress_id: 317
wordpress_url: http://wireload.net/2011/05/a-much-needed-website-overhaul/
date: 2011-05-04 14:35:33
tags: quiet, site, wireload
---
As you may have noticed, we've launched a new version of wireload.net. After being neglected for too long, we felt that it was finally time to bring this website up to par with our other products. As our product portfolio keeps growing, we wanted to use wireload.net as the hub that ties all of these products together. <br/>To celebrate this spectacular (at least to us) website launch, we've dropped the price of our latest product <a href="http://wireload.net/products/quiet/">Quiet</a> by 50% until May 12th!<br/><p><span class="shadowed"><img src="http://wireload.net/wp-content/uploads/2011/05/4_after-580x362.png" alt="Quiet in action" /><span class="sh tl"></span><span class="sh tr"></span><span class="sh bl"></span><span class="sh br"></span></span><center>Quiet in action.</center></p>