---
title: We've fixed bugs in 'gchecky'
author: Viktor Petersson
wordpress_id: 1377
wordpress_url: http://wireload.net/2012/07/weve-fixed-bugs-in-gchecky/
date: 2012-07-25 06:16:08
tags: dev, google-checkout, open-source
---
We love Open Source and we use Open Source-software every day. We also believe that using Open Source-products come with a responsibility of helping out to improve the tools. <br/>One tool that we've been using for some time with <a href="http://www.yippiemove.com">YippieMove</a> is <a href="https://code.google.com/p/gchecky/">gchecky</a>. It's a Google Checkout wrapper written by Eugene Tarassov.<br/>Unfortunately the project appears to have been abandoned with a few fairly important bugs left unresolved. As a result, we've forked the project and have already pushed a few fixes. <br/>Our version of gchecky can be found <a href="https://github.com/wireload/gchecky">here</a>. 