---
title: We're helping users bypass government censorship with the Tor Project
authors: Viktor Petersson
wordpress_id: 1181
wordpress_url: http://wireload.net/2012/02/were-helping-tor-project-bypass-government-censorship/
date: 2012-02-12 10:33:44
tags: censorship, news, tor-project
---
We've always been big fans of the <a href="https://www.torproject.org/">Tor Project</a>. For those of you who are not familiar with Tor, it is a tool that enables users to bypass internet censorship and anonymize user activity. In many oppressive countries Tor is one of the few ways the citizens can communicate with the outside world. Tor is also a critical tool for human rights activists and journalists around the globe. <br/>A few days Jacob Appelbaum, one of Tor Project's core members sent out a <a href="https://lists.torproject.org/pipermail/tor-talk/2012-February/023070.html">message</a> to the Tor mailing list, urging for help after an increased crackdown in Iran. This can be seen in the image below.<br/><img src="https://metrics.torproject.org/bridge-users.png?start=2011-11-12&dpi=72&end=2012-05-10&country=ir" /><br/>We wanted to help out, so we reached out to cloud vendors to see if they were willing to help. Luckily they were. Thanks to the kind contribution of servers from <a href="http://www.citycloud.eu/">CityCloud</a>, we now have five Tor-relays up and running in Sweden (with obfsproxy).<br/>We also expect to soon have more Tor-relays up and running in Switzerland on <a href="http://cloudsigma.com/">CloudSigma</a>'s network.