---
title: Join us at gSocial 2.0 on November 12-13
author: Viktor Petersson
wordpress_id: 1458
wordpress_url: http://wireload.net/2012/10/join-us-at-gsocial-2-0-on-november-12-13/
date: 2012-10-13 09:57:26
tags: conference, events, yippiemove
---
<p><span class="shadowed"><img src="http://wireload.net/wp-content/uploads/2012/10/gSocial-NEW.jpg" alt="gSocial" /><span class="sh tl"></span><span class="sh tr"></span><span class="sh bl"></span><span class="sh br"></span></span></p><br/>Last year we attended the first <a href="http://gsocialconference.com/">gSocial</a>, a conference for Google Apps resellers and ISVs. We were so impressed by the event that we decided to come back this year again for gSocial 2.0. <br/>The event happens on November 12-13 at The Domain Hotel in Sunnyvale, CA. You can find the complete schedule <a href="http://gsocialconference.com/#57e/custom_plain">here</a>, but I can assure you that it's worth your time. While it is not an official Google-event, it is the number one event if you're reselling Google Apps or developing applications for Google Apps.<br/>This year, I will also be giving a talk on the topic of email migrations, where I share some of the experience we've built over the years of working with <a href="http://www.yippiemove.com">YippieMove</a>.<br/>Tickets are still available, but make sure to <a href="https://events.r20.constantcontact.com/register/eventReg?oeidk=a07e6ckv9sj2f25a775&oseq=">register</a> before they sell out.