---
title: Customer showcase- American International School/Dhaka
authors: Viktor Petersson
wordpress_id: 1318
wordpress_url: http://wireload.net/?p=1318
date: 2012-08-07 04:36:54
tags: firstclass, news, yippiemove
---
<p><span class="shadowed"><img src="http://wireload.net/wp-content/uploads/2012/07/Aisdhaka-580x484.png" alt="Aisdhaka" /><span class="sh tl"></span><span class="sh tr"></span><span class="sh bl"></span><span class="sh br"></span></span></p><br/>We were recently contacted by <a href="http://www.aisdhaka.org/">American International School/Dhaka</a> (AISD). They were planning to migrate from an on-site email solution over to Google Apps and we were happy to help them out. <br/>Like many other of our educational clients, AISD were using First Class. To be more precise, they were running FirstClass Internet Services version 11.049 and FirstClass Core Services 11.0 (Build 1019). This was all running on Mac OS X 10.6.4 Server. <br/>All in all, the migration went very smooth (after an initial hick-up with the School's ISP on the planned start of the migration). <br/>Here are a few tips if you are in the process of migrating from First Class.<br/><strong>Avoid "/" in folders</strong><br/>First Class allows users to put "/"-characters in their folder names. However, since "/" is also the separator in their IMAP-server, this collides and prevents IMAP access to these folders.<br/><strong>Upgrade to the latest version of First Class</strong> (if possible)<br/>Recent versions of First Class (at least 11.0+) appears to have rather well functioning IMAP server. That can't be said about older versions, <a href="http://www.playingwithwire.com/2009/07/firstclass-and-an-annoying-imap-bug/">such as 9.1</a>, which suffered from severe bugs in the IMAP server.