---
title: Mountain Lion makes it easier to add Google Calendars to iCal
authors: Viktor Petersson
wordpress_id: 1383
wordpress_url: http://wireload.net/2012/07/mountain-lion-makes-it-easier-to-add-google-calendars-to-ical/
date: 2012-07-31 12:54:36
tags: blotter, tips
---
I doubt anyone reading this blog failed to notice that Mac OS X 10.8 (Mountain Lion) is out. As developers, we've been playing around with Mountain Lion since the first developer release to ensure that our applications work well. And yes, both Blotter and Quiet works great in Mountain Lion.<br/>One thing that might come as a delight to our users is that it is now easier to properly add Google Calendar to iCal (i.e. as CalDAV). As you might remember, this <a href="http://support.google.com/calendar/bin/answer.py?hl=en&answer=99358#ical">used to be pretty cumbersome</a> in earlier versions of iCal, but that's no longer the case.<br/><!--more--><br/>To add your Google Calendar to iCal, simply got to Preferences -> Accounts. <br/><img src="/uploads/2012/07/ical_preferences-580x533.png" alt="" title="ical_preferences" width="580" height="533" class="aligncenter size-large wp-image-1385" /><br/>Then click the plus and enter your Gmail/Google Apps email address.<br/><img src="/uploads/2012/07/ical_add_an_account-580x533.png" alt="" title="ical_add_an_account" width="580" height="533" class="aligncenter size-large wp-image-1384" /><br/>Just click 'Create' and your account should automatically be added to iCal. It's as simple as that. Now your Google Calendars should be available in Blotter too!<br/>If you're using shared/delegate calendars, please read <a href="http://wireload.net/2012/08/view-google-calendar-delegate-calendars-in-blotter/">this post</a>.