---
title: Even better status-updates in YippieMove
authors: Viktor Petersson
wordpress_id: 1535
wordpress_url: http://wireload.net/2013/02/even-better-status-updates-in-yippiemove/
date: 2013-02-08 08:59:51
tags: news, yippiemove
---
About 15 minutes ago we rolled out a major update to <a href="http://www.yippiemove.com">YippieMove</a>. While it does not change the look much, it fundamentally changes how we report the status behind the scenes.<br/>This means that we are now able to present the status of your transfer(s) in almost real time. There is no more waiting for the status of your transfer to update. With this update, the status is now pushed directly to your browser almost instantly. You don't even need to reload the page.<br/>In order to accomplish this, we had to rewrite large parts of the statistics engine in YippieMove. However, it was all worth it, in order to give you the best possible user experience when using <a href="http://www.yippiemove.com">YippieMove</a>.<br/>We hope you enjoy it.