---
title: Blotter 2.2.2 is now available
author: Viktor Petersson
wordpress_id: 1656
wordpress_url: http://wireload.net/2013/12/blotter-2-2-2-is-now-available/
date: 2013-12-06 01:49:07
tags: blotter, mac-app-store, mac-os-x, release-notes
---
<p>We're happy to announce the availability of Blotter 2.2.2 in the Mac App Store. The update includes various bug fixes.</p>

<p>On a separate note, we would also like to update you on an issue that multiple users have raised, namely the amount of logging that Blotter generates in the system log. Unfortunately, this is a bug in the Keychain that is triggered by the Sandboxing under Mavericks (10.9). This isn't possible to work around in Blotter. We raised this with Apple when Mavericks was still in Developer Preview, and Apple confirmed that it was a bug. Fortunately it appears as this may have been addressed in the upcoming 10.9.1 release.</p>

<p>Please note that this is a <strong><a href="http://itunes.apple.com/us/app/blotter/id406580224?mt=12">free update</a></strong>.</p>