#slider
  #s-bgs
    .screenly
    .blotter
    .yippiemove
    .border
  #s-wrap
    .item.screenly.cur.slide
      %a{:href => "http://screenlyapp.com"}
        %img{:alt => "[Glowing Screenly logo]", :src => "/images/screenly_logo.png", :style => "bottom: -86px; left: 155px;"}/
      %h1
        It's a sign.
    .item.blotter
      %a{:href => "/products/blotter/"}
        %img{:alt => "Blotter - The future will never look the same.", :src => "/images/blotter_pic.png", :style => "bottom: 0px; left: 5px;"}/
    .item.yippiemove.slide
      %a{:href => "http://www.yippiemove.com"}
        %img{:alt => "YippieMove - Fast and easy movement of email.", :src => "/images/YippieMove_pic.png", :style => "bottom: 0px; left: -60px;"}/
  %ul#s-controls
    %li.active
    %li
    %li
#prod-items
  .item
    %a{:href => "http://screenlyapp.com"}
      %span.img
        %img{:alt => "Screenly", :src => "/images/screenly_postcard.jpg", :style => "margin-top: -1px;"}/
        %span.i-border
    %h6{:style => "color: #5a778e;"} Screenly
    %p Digital signage made easy.
    %a.button{:href => "http://screenlyapp.com"}
      %span Learn more
  .item
    %a{:href => "/products/blotter/"}
      %span.img
        %img{:alt => "Blotter", :src => "/images/img1.png"}/
        %span.i-border
    %h6 Blotter
    %p Unforgettable calendar.
    %a.button{:href => "/products/blotter/"}
      %span Learn more
  .item
    %a{:href => "http://www.yippiemove.com"}
      %span.img
        %img{:alt => "YippieMove", :src => "/images/img3.png"}/
        %span.i-border
    %h6{:style => "color: #8eaa37;"} YippieMove
    %p Easy email transfers.
    %a.button{:href => "http://www.yippiemove.com"}
      %span Learn more
