#slider
  #s-bgs
    #s-bg1.sbg
    #s-bg2.sbg
    #s-bg3.sbg
    .border
  #s-wrap
    #sw-blotter.item.cur
      %a{:href => "/products/blotter/"}
        %img{:alt => "Blotter - The future will never look the same.", :src => "/images/blotter_pic.png", :style => "bottom: 0px; left: 5px;"}/
    #si2.item
      %a{:href => "/products/quiet/"}
        %img{:alt => "Preserve your train of thought and be effective with Quiet.", :src => "/images/Quiet_slogan.png", :style => "bottom: 137px; left: 66px;"}/
        %img{:alt => "Quiet", :src => "/images/Quiet_pic.png", :style => "bottom: 46px; left: 195px;"}/
      %p.s-right{:style => "top: 276px; right: 64px;"}
        Preserve your train
        %br>/
        of thought and be effective
        %br>/
        with
        %strong Quiet.
    .item
      %a{:href => "http://www.yippiemove.com"}
        %img{:alt => "YippieMove - Fast and easy movement of email.", :src => "/images/YippieMove_pic.png", :style => "bottom: 0px; left: -60px;"}/
  %ul#s-controls
    %li.active
    %li
    %li
#prod-items
  .item
    %a{:href => "/products/blotter/"}
      %span.img
        %img{:alt => "Blotter", :src => "/images/img1.png"}/
        %span.i-border
    %h6 Blotter
    %p Unforgettable calendar.
    %a.button{:href => "/products/blotter/"}
      %span Learn more
  .item
    %a{:href => "/products/quiet/"}
      %span.img
        %img{:alt => "Quiet", :src => "/images/img2.png"}/
        %span.i-border
    %h6{:style => "color: #6c7f23;"} Quiet
    %p Peace. And Quiet.
    %a.button{:href => "/products/quiet/"}
      %span Learn more
  .item
    %a{:href => "http://www.yippiemove.com"}
      %span.img
        %img{:alt => "YippieMove", :src => "/images/img3.png"}/
        %span.i-border
    %h6{:style => "color: #0078ff;"} YippieMove
    %p Easy email transfers.
    %a.button{:href => "http://www.yippiemove.com"}
      %span Learn more
