%li.post.type-post.status-publish.format-standard.hentry.category-news
  .left
    = partial :blog_article_head, :locals => { :current_article => current_article }  
      
  .right.post-content.nd-body
    = current_article.summary
    %p
      %a{:href => current_article.url} Read more...

  .tags
    %span.tag-links
      = current_article.tags.map{|tag| link_to(tag, tag_path(tag))}.join(', ')
